@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans);

html{
}

/*-----------------------------------
      clearfix
----------------------------------*/

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

body{
font-family: 'Open Sans', sans-serif;
font-size: 0.9em;
margin: 0;
padding: 0;
background-color: #1A5588;
font-weight: 300;
text-rendering:optimizeLegibility;
-webkit-font-smoothing:antialiased;
}

::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{background:#222;}
::-webkit-scrollbar-thumb{background:#666;}

.flexcontainerstart {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
}

.flexcontainerstart div.box {
width: 100%;
background-color: rgba(0, 0, 0, 1);
margin-right: 6%;
padding: 3%;
color: #fff;
margin-top: 3%;
margin-bottom: 3%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.flexcontainerstart div.big{padding: 6%; background-color: #000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.flexcontainerstart p{color: rgba(255, 255, 255, 0.7);}
.flexcontainerstart div.box:last-child{margin-right: 0;}
.flexcontainerstart a{color: #6DAEE0; float: right;}
.flexcontainerstart a:hover{color: #fff;}

#googlemaps{
height: 350px;
width: 100%;
}

.googlebox{
position: relative; 
z-index: 1;
background-color: #333;
}

/* HEADINGS/PARAGRAF/LISTOR osv*/
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat', sans-serif;
margin-bottom: 2%;
font-weight: 300;
}

h2,h3,h4,h5,h6{
padding-bottom: 2%;
}

h1{font-size: 1.8em;}
h2{font-size: 1.7em;}
h3{font-size: 1.65em;}
h4{font-size: 1.3em;}
h5{font-size: 1.2em; color: rgba(255, 255, 255, 0.65); margin: 0; padding: 0; margin-top: 3%;}

.top{margin-bottom: 0;
font-family: 'Montserrat', sans-serif;
font-size: 1.15em;
color: rgba(0, 0, 0, 0.2);
font-weight: 700;
}

a{
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
text-decoration: none;
}

p{
line-height: 220%;
margin-bottom: 6%;
color: rgba(0, 0, 0, 0.67);
font-size: 1em;
font-weight: 300;
}


ul{list-style-type: none;}

/* STYLING */
<<<<<<< HEAD
.box{padding-top: 3%; padding-bottom: 3%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
}
.odd{background-color: #fff;}
.even{background-color: #F5F6F7;}
=======
#box{padding-top: 5%; padding-bottom: 5%;}
.zero{background-color: #fff;}
.one{}
.two{background-color: #fff;}
.three{}
.four{background-color: #fff;}
>>>>>>> origin/master

::-moz-selection { /* Code for Firefox */
color: #fff;
background: #000;
}

::selection {
color: #fff;
background: #000;
}

/* BAKGRUNDSBILDER */
.home{background-image:url('../bilder/illustrator.png');}
.team{background-image:url('../bilder/css.png');}
.work{background-image:url('../bilder/js.png');}
.webw{background-image:url('../bilder/webw.png');}
.karta{background-image:url('../bilder/karta.png');}
.contact{background-image:url();}


/* INNEHÅLL */
.tophead{
font-family: 'Montserrat', sans-serif;
position: relative;
padding-top: 280px;
padding-bottom: 190px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
}


.middle{
font-weight: 400;
padding-bottom: 1.8%;
margin-bottom: 1.8%;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
font-size: 4em;
color: #fff;
-webkit-animation: fadein 3.4s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 3.4s; /* Firefox < 16 */
-ms-animation: fadein 3.4s; /* Internet Explorer */
 -o-animation: fadein 3.4s; /* Opera < 12.1 */
animation: fadein 3.4s;
}

.middlesmall{
font-weight: 300;
font-size: 1.2em;
color: rgba(255, 255, 255, 0.65);
-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 4s; /* Firefox < 16 */
-ms-animation: fadein 4s; /* Internet Explorer */
 -o-animation: fadein 4s; /* Opera < 12.1 */
animation: fadein 4s;
}

.container{
position: relative;
margin: 0 auto;
width: 88%;
max-width: 960px;
}

.row > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.form-group label {
    color: black;
    font-size: 13px;
    font-weight: 600;
        
}

.control-label{
    
    
}

.form-control{
    height: auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    width: 70%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}
div[class*="teamsection_"] img{
  float: left;
  margin-right: 5%;
  padding-bottom: 50px;
}

.content{margin-top: 60px; margin-bottom: 60px;}

footer{
background-color: #fff;
box-sizing: border-box;
width: 100%;
text-align: left;
padding-left: 6%;
padding-right: 6%;
padding-top: 60px;
padding-bottom: 60px;
bottom: 0;
}

<<<<<<< HEAD
footer a{color: #000;}
footer a:hover{opacity: 0.4;}

=======


/* CARDS */

.trigger{
width:100%;
height:400px;
background-color:white;
}

.hover-img, hover-img.hover_effect  {
background-color:white;
position: relative;
width: 200px;
height: 200px;
text-align: center;
font-size: 0;
-webkit-user-select: none;
-webkit-touch-callout: none;
border-style: solid;
border-width: 1px;
border-color: #4595ff;
}
>>>>>>> origin/master

.footer-left h1{
font-size: 1.65em;
font-weight: 400;
letter-spacing: 6px;
text-transform: uppercase;
color: #ddd;
padding-top: 6px;
}
.footer-left p{color:  #666; margin: 0;}
.footer-right{float: right;}
.footer-right ul{font-family: 'Montserrat', sans-serif;margin: 0; padding: 0;}
.footer-right a{color: #999;}
.footer-right a:hover{color: #000;}
.footer-right ul li{
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
font-weight: 400; display: inline-block; text-align: center; margin-right: 60px; background-color: #ddd; padding: 10px 15px;font-size: 0.9em;}
.footer-right ul li:last-child{margin-right: 0;}

/* HEADER OCH MENY */
#header {
z-index: 22;
position: absolute;
width: 100%;
height: 90px;
line-height: 60px;
background-color: rgba(0, 0, 0, 0.75);
}

#header h1{
font-size: 1.65em;
font-weight: 400;
letter-spacing: 6px;
position: absolute;
top: 0;
left: 0;
color: #fff;
cursor: default;
text-transform: uppercase;
}

#header h1 a{color: #fff;}
#header h1 a:hover{color: #555;}

.bold{font-weight: 700;}

#nav {
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 1.1em;
position: absolute;
right: 0;
color: #37B1F9;
}

#nav ul li {
float: left;
}

#nav ul li a {
display: block;
color: rgba(255, 255, 255, 0.75);
text-decoration: none;
padding: 0px 30px;
}

#nav ul li a:hover{
color: #555;
}

@keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}


/* SKÄRMANPASSNING */
@media (max-width: 799px) {
.flexcontainerstart {display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;-webkit-align-items: flex-start;align-items: flex-start;}
.flexcontainerstart div.box {max-width: 80%;min-width: 80%;margin-right: 6%; padding: 10%;}
.flexcontainerstart div.box:last-child{}

.middle{font-size: 3.4em; margin-bottom: 3%; padding-bottom: 3%; line-height: 150%;}
.middlesmall{font-size: 1.2em; line-height: 150%;}

.footer-left{text-align: center;}
.footer-right{display: none;}

section.container{
padding-top: 5%;
padding-bottom: 5%;
}

#header .container {width: 100%;}
#header h1 {left: 6%;}
#nav {width: 100%;top: 74px;}

#nav:before {
font-size: 36px;
content: '\2630';
display: block;
position: absolute;
right: 6%;
top: -60px;
cursor: pointer;
}

#nav ul {background-color: rgba(0, 0, 0, 0.75); width: 100%; padding: 0;}
#nav ul li {float: none;}
#nav ul li a {color: #fff; padding: 30px 6%; line-height: 20px; border-top: 1px solid rgba(221, 221, 221, 0.11);}
#nav ul li a:hover{color: #555;}
#nav ul {
transition: 350ms;
-moz-transition: 350ms;
-webkit-transition: 350ms;
transform: perspective(600) rotate3d(0, 0, 0, 0);
-moz-transform: perspective(600) rotate3d(0, 0, 0, 0);
-webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg);
transform-origin: 50% 0;
-moz-transform-origin: 50% 0;
-webkit-transform-origin: 50% 0;
}

#nav.open ul {
transform: translateY(0px);
-moz-transform: translateY(0px);
-webkit-transform: perspective(600) rotate3d(0, 0, 0, 0);
}
